.wrapper {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #2A77AE;
    margin-bottom: 0px;
    background-color:red;
    height: 500px;
  }

  .insideDiv1 {
    background-color: green;
    margin: auto;
    height: 300px;
  }

  .insideDiv2 {
    background-color: orange;
    margin: auto;
    height: 300px;
  }

  .insideDiv3 {
    background-color:purple;
    margin: auto;
    height: 300px;
  }

  .gameRules {
    background-color:white;
  }