.gameWrapper {
  display: flex;
  flex-direction: column;
 
  background-color:green;
  background-image: url("https://usatftw.files.wordpress.com/2016/08/10-citi.jpg?w=1000&h=632");
  /* background-image: url("../../images/baseball-jerseys.jpg"); */
  background-size: cover;
  height: 800px;
}

.gamesDropdown {
  display: flex;
  justify-content: center;
}

.div1 {
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 325px;
    justify-content: center;
  }

  .div2 {
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 325px;
    text-align: left;
  }

  .div3 {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: whitesmoke;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 325px;
    text-align: left;
  }

  .rulesTitle {
    text-decoration: underline;
    color:whitesmoke;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif
  }

  .gamePlayPanel {
    height: 150px;
    width: 270px;
    background-color: plum;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    color:black;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .mlbActiveGame {
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 30px;
    margin: auto;
    margin-top: 29px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
  }

  .matchGameTitle {
    background-color: lightblue;
    border-radius: 10px;
    border: 2px solid crimson;
    color:rgb(8, 2, 32);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif
  }

  .activeMlbGameScore {
    height: 270px;
    width: 300px;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    color:black;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
  }

  .activeUserGameStatus {
    height: 300px;
    width: 320px;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    color:black;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
  }

.nextAvailPlay {
  height: 300px;
  width: 280px;
  /* border-radius: 10px; */
  /* border: 2px solid whitesmoke; */
  color:whitesmoke;
  /* margin: auto; */
  margin-bottom: 10px;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.playButtonPanel {
  height: 100px;
  width: 220px;
  background-color: rosybrown;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  color:black;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.playButton {
  justify-content: center;
  display: flex;
}

.gameNumbers {
  display: flex;
  height: 100px;
  width: 275px;
  background-color: rgb(224, 40, 64);
  border-radius: 10px;
  border: 2px solid whitesmoke;
  color:black;
  padding-top: 5px;
  justify-content: center;
  margin: auto;

}

.titleRow {
  justify-content: center;
}

.gameResultRow {
  justify-content: center;
  padding-top: 10px;
}